.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbarHead{
  width:100%;
  background-color: #da7f8f;
  text-align: center;
  padding:20px 0;
  margin-bottom: 60px;
}
.navbarHead h1{
  text-align: center !important;
}
.card {
  background-color: #a7bbc7;
  
}
.card-img-top{
  height: 300px !important;
}
.foo{
  width: 100%;
  padding: 10px 0 ;
  text-align: center;
  background-color: #a7bbc7;
  margin-top: 60px;
}